---
import PageLayout from "../layouts/PageLayout.astro";

const title =
  "出雲漢方クリニック｜クリニックのご案内 デザインリニューアル案（共通CSS使用）";
---

<PageLayout
  title={title}
  wrapperClass="page_weverysub parent1691 my1691 cat pcat"
  active="/clinic.html"
>
  <div id="main">
    <div id="breadcrumbs">
      <a href="/">ホーム</a> &gt; クリニックのご案内
    </div>

    <article>
      <section class="pageSec">
        <h2 class="h2_1597">クリニックのご案内</h2>
        <div class="mb-3">
          <img
            class="article-thumbnail"
            src="/wp-content/uploads/2022/06/ba291ea5c7a4e73223d8e6936a806b74.jpg"
            alt=""
            data-eio="j"
          />
        </div>
        <div class="subpagecontents">
          <p>
            出雲漢方クリニックは、<strong>和洋折衷の漢方治療</strong
            >であなたのお悩みに応える、<strong>全国オンライン対応</strong
            >の漢方専門クリニックです。
          </p>
          <p>
            おかげさまで開業して以来、場所は北海道から沖縄まで、年齢は子供からお年寄りまで、全国の患者さんにご利用いただいております。
          </p>
          <h3>出雲漢方クリニックの診療の特徴</h3>
          <h4>漢方と西洋医療をあわせた統合医療</h4>
          <p>
            東西医学の壁をなくした和洋折衷の診療を行っています。現在の治療を止めることなく、<strong
              >漢方薬を主軸に治療</strong
            >を行なっています。また、対面診療では鍼灸や指圧を併用することで症状を緩和していきます。
          </p>
          <h4>全国から受診可能（初診からオンライン対応）</h4>
          <p>
            当院では全国から受診いただけるオンライン診療を提供しております。対面診療と同じ<strong
              >保険診療の安心感</strong
            >と、<strong>移動不要で待ち時間なくご利用いただける利便性</strong
            >を兼ね備えた診療になっています。ぜひ一度ご体験ください。
          </p>
          <h4>保険診療で負担なく</h4>
          <p>
            当院の診療は保険診療で提供しています。漢方薬に月に2～3万円ほどかかっている方でも、当院では受診料と薬剤費含め<strong
              >おおよそ3000〜4000円の費用</strong
            >で受診いただけます。
          </p>
          <p>※お悩みや症状によって多少費用が変動します</p>
          <p>
            経済的な負担少なく、気軽に漢方薬をお試しいただけ、長く治療を続けられますのでぜひご利用ください。
          </p>
          <h3>対面診療・オンライン診療について</h3>
          <p>
            <img
              fetchpriority="high"
              decoding="async"
              src="/wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758-1024x506.jpg"
              alt=""
              width="1024"
              height="506"
              class="alignnone wp-image-1309 size-large"
              srcset="/wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758-1024x506.jpg 1024w, /wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758-300x148.jpg 300w, /wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758-240x119.jpg 240w, /wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758-768x380.jpg 768w, /wp-content/uploads/2022/06/3ffbb34faf3d37f3574b3fd8ae5f2499-e1659787053758.jpg 1478w"
              sizes="(max-width: 1024px) 100vw, 1024px"
              data-eio="j"
            />
          </p>
          <p>
            当院では出雲市近辺にお住まいの方に「対面診療」を、遠い場所にお住まいの方に全国でご利用いただける「オンライン診療」の二つの診療を提供しております。
          </p>
          <h4>対面診療</h4>
          <p>
            対面診療では「<strong
              >漢方薬と鍼灸を組み合わせて症状を緩和する治療</strong
            >」を提供しております。近所の方で医師と直接お話ししたい方、いつも通りの慣れている診療をご希望の方は対面診療をご利用ください。
          </p>
          <h4>オンライン診療</h4>
          <p>
            オンライン診療では「<strong
              >対面と遜色のない漢方診察と、郵送による漢方薬の処方</strong
            >」を提供しております。場所を選ばず、自宅や旅行先などで診療を受けることができます。
          </p>
          <p>
            <strong>移動時間、待ち時間が不要</strong>になっていますので、<strong
              >お忙しくて病院になかなか受診できない方</strong
            >、<strong>お近くに漢方クリニックがない方</strong>にオススメです。
          </p>
          <p>
            <a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/online');"
              class="big-button"
              href="/online.html"
              rel="noopener noreferrer">オンライン診療について詳しく知る</a
            >
          </p>
          <h3>処方薬の受け取りについて</h3>
          <p>
            漢方薬の処方が中心ですが、現在処方されている西洋薬もご希望いただければ一緒に処方いたします。<br
            />
            現在処方されている西洋薬を処方されたい方は、お薬手帳をお持ちください。
          </p>
          <p>
            また、薬の受け取り方は「<strong
              >病院から薬を受け取る（院内処方）</strong
            >」か、「<strong>調剤薬局で薬を受け取る（院外処方）</strong
            >」から選択いただけます。
          </p>
          <h4>病院から薬を受け取る（院内処方）</h4>
          <p>
            当院から薬をお渡しいたします。対面診療の方はその場でお渡し、オンライン診療の方は郵送（１日〜２日ほどで到着）でお送りいたします。<strong
              >お薬を薬局に取りに行くのが不要</strong
            >で、<strong>薬局の在庫を気にすることなく</strong
            >薬をお受け取りいただけます。
          </p>
          <p>※送料として650〜800円いただいております</p>
          <h4>調剤薬局で薬を受け取る（院外処方）</h4>
          <p>
            いつもご利用の調剤薬局で薬を受け取れます。当日中に薬を受け取れますが、<strong
              >漢方薬の在庫が薬局にない</strong
            >こともございますので少しお待ちいただく可能性があります。
          </p>
          <p>
            <a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/reserve');"
              class="big-button"
              href="/reserve.html"
              rel="noopener noreferrer">診療予約について詳しく知る</a
            >
          </p>
        </div>
      </section>
    </article>
    <!-- / #main -->
  </div>
</PageLayout>
