---
import PageLayout from "../layouts/PageLayout.astro";

const title = "【保険診療、オンライン診療】肥満・痩せ漢方（肥満・高血圧外来）";
---

<PageLayout title={title} wrapperClass="page_weverysub parent1001 my1001 cat pcat">
  <div id="main">
    <div id="breadcrumbs">
      <a href="/">ホーム</a> &gt; 肥満・痩せ漢方（肥満・高血圧外来）
    </div>

    <article>
      <section class="pageSec">
        <h2 class="h2_1001">肥満・痩せ漢方（肥満・高血圧外来）</h2>
        <div class="mb-3">
          <img class="article-thumbnail" src="/wp-content/uploads/2023/01/herb0I9A7692_TP_V.jpg" alt="" data-eio="j" />
        </div>
        <div class="subpagecontents">
          <div class="block-emphasis">
            <p>
              ご要望の多かった刻み漢方薬の処方を開始しました。<br />
              刻み漢方薬は、当院で推奨している漢方薬を「漢方茶」として楽しんで飲むのに適しています。香りや成分を感じながら日常に取り入れられるのが特徴になります。<br />
              ご希望の方は受診の際にお申し出ください。
            </p>
          </div>
          <p>当クリニックの肥満外来では、漢方薬、煎じ薬（漢方茶）でダイエットのサポートをいたします。</p>
          <p>
            漢方薬の服用と同時に糖質制限、生活習慣の見直しを行っていきます。<strong>無理せずリバウンドしにくい体</strong>を目指しましょう。
          </p>
          <p>また、基本的に保険診療対応で、オンライン診療にも対応していますので、お気軽に受診いただけます。気になる方はぜひご相談ください。</p>
          <div class="block_index">
            <strong>目次</strong>
            <ul>
              <li>
                <a href="#anchor-1">漢方薬で体調不良・高血圧を改善</a>
                <ul>
                  <li>
                    <a href="#anchor-2">なぜダイエットで体調不良を治すのか</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#anchor-3">食事・生活習慣の見直しで無理なくダイエット</a>
                <ul>
                  <li><a href="#anchor-3-1">糖質制限もしっかりと</a></li>
                  <li>
                    <a href="#anchor-3-2">定期受診で生活習慣改善をサポート</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#anchor-youtube">肥満外来の動画解説（Youtube）</a>
              </li>
              <li><a href="#anchor-4">診療方法</a></li>
              <li><a href="#anchor-5">自由診療のご案内</a></li>
              <li>
                <a href="#anchor-6">よくある質問</a>
                <ul>
                  <li>
                    <a href="#anchor-6-1">予定が合わず肥満外来の予約がなかなか取れません。どうしたらいいでしょうか？</a>
                  </li>
                  <li>
                    <a href="#anchor-6-2">体重の悩み以外に体調の悩みもあるのですが、同時に診療可能でしょうか？</a>
                  </li>
                  <li>
                    <a href="#anchor-6-3">肥満外来を子どもが受診することは可能でしょうか？</a>
                  </li>
                  <li>
                    <a href="#anchor-6-4">肥満外来の対面診療と、オンライン診療の違いを教えてください</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <h3 id="anchor-1">漢方薬で体調不良・高血圧を改善</h3>
          <p>当クリニックでは「肥満に伴う体調不良（冷え、むくみ、頭痛、倦怠感、下痢、便秘、高血圧など）を漢方薬で改善していき、それと共に自然と痩せていく」というアプローチをとっています。</p>
          <p>
            <strong>肥満の方で体調不良がない方はまれで、必ずなにか体調不良をお持ち</strong>です。
          </p>
          <p>当クリニックでは体調不良が肥満の原因の一つとなっていると考え、体調不良の治療を漢方薬でおこないます。</p>
          <h4 id="anchor-2">なぜダイエットで体調不良を治すのか</h4>
          <p>肥満用の漢方は「防風通聖散」と「防已黄耆湯」の処方が有名です。</p>
          <p>
            この処方を望まれて漢方外来に訪れる方がいらっしゃいますが、<strong>そんな患者さんに処方しても効果がないことがほとんど</strong>です。
          </p>
          <p>そんな方でも「体調不良に効く漢方」で痩せやすい体質に変え、糖質制限を行うと痩せていきます。</p>
          <p>
            そのため当クリニックでは肥満に対しては、「<strong>このやり方が遠回りのようで近道だ</strong>」と考えこのようなアプローチをとっています。
          </p>
          <h3 id="anchor-3">食事・生活習慣の見直しで無理なくダイエット</h3>
          <p>
            <img fetchpriority="high" decoding="async" class="alignnone size-large wp-image-2040" src="/wp-content/uploads/2023/03/25220057_m-1024x683.jpg" alt="" width="1024" height="683" srcset="/wp-content/uploads/2023/03/25220057_m-1024x683.jpg 1024w, /wp-content/uploads/2023/03/25220057_m-300x200.jpg 300w, /wp-content/uploads/2023/03/25220057_m-240x160.jpg 240w, /wp-content/uploads/2023/03/25220057_m-768x512.jpg 768w, /wp-content/uploads/2023/03/25220057_m-1536x1024.jpg 1536w, /wp-content/uploads/2023/03/25220057_m-480x320.jpg 480w, /wp-content/uploads/2023/03/25220057_m.jpg 1920w" sizes="(max-width: 1024px) 100vw, 1024px" data-eio="j" />
          </p>
          <p>
            漢方薬を飲んでいても、<strong>基本の食事・生活習慣が崩れていては痩せられません</strong>。
          </p>
          <p>漢方薬で体調不良を改善しつつ、朝晩毎日の体重測定をしていただき、同時に食生活の見直しもおこないます。</p>
          <h4 id="anchor-3-1">糖質制限もしっかりと</h4>
          <p>漢方薬をマジメに飲んでいても、摂取している糖質が多いと痩せられません。</p>
          <p>
            以下のようなやり方で糖質制限をおこない、<strong>普段、無意識に摂取している糖質を減らしていただきます</strong>。
          </p>
          <ul>
            <li>清涼飲料水は無糖の炭酸水やお茶に変える</li>
            <li>麺、ご飯を半分に控える。もしくは豆腐に変える</li>
            <li>豆類、肉、魚を中心の食生活に変える</li>
          </ul>
          <p>当院では、糖質制限のパイオニアで有名な江部康二先生、もしくは「出雲の痩神様」として有名な下手公一先生のダイエット本を参考にしていただくようにオススメしております。</p>
          <p>そちらをご参考にいただき、糖質制限に取り組んでください。</p>
          <h4 id="anchor-3-2">定期受診で生活習慣改善をサポート</h4>
          <p>
            定期的に病院の受診をしていただき、<strong>朝晩毎日の体重測定や、糖質制限などの習慣を振り返っていただきます</strong>。
          </p>
          <p>一人ではなかなか身につきにくい習慣も、定期的に受診して振り返ることで身につきやすくします。</p>
          <p>誰しも習慣を変える時はつまずくもの。無理せず医師とリバウンドしにくい体を目指しましょう。</p>
          <h3 id="anchor-youtube">肥満外来の動画解説（Youtube）</h3>
          <p>動画でも肥満外来の解説をしていますので、ご興味のある方はご覧ください。</p>
          <h4>初診での費用（診察代、薬代）はどれくらい？</h4>
          <p>
            <iframe class="iframe-youtube" title="YouTube video player" src="https://www.youtube.com/embed/ZmCxMaNvjhs?si=bx_vNERIy7y8cDen" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1"> <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span> </iframe>
          </p>
          <h4>漢方薬の効果を実感はいつから？リバウンド対策で漢方薬は飲み続けた方がいいのか？</h4>
          <p>
            <iframe class="iframe-youtube" title="YouTube video player" src="https://www.youtube.com/embed/i9ZuAzV7Ats?si=0aSM_zGSftQGXNUj" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1"> <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span><span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span> </iframe>
          </p>
          <h4>肥満外来では肥満以外の悩みも同時に診療できますか？</h4>
          <p>
            <iframe loading="lazy" class="iframe-youtube" title="YouTube video player" src="https://www.youtube.com/embed/xauMqlIPrD4?si=DMHi8tjInJghhNeR" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen"> <span data-mce-type="bookmark" style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" class="mce_SELRES_start">﻿</span> </iframe>
          </p>
          <h4>肥満ではありませんが、肥満外来を受診することは可能でしょうか？</h4>
          <p>
            <iframe loading="lazy" class="iframe-youtube" title="YouTube video player" src="https://www.youtube.com/embed/XrEi8BY2hL4?si=kXNLaczyUSzESSjA" width="100%" height="400" frameborder="0" allowfullscreen="allowfullscreen" data-mce-fragment="1"> </iframe>
          </p>
          <h3 id="anchor-4">診療方法（保険診療）</h3>
          <p>
            肥満外来（保険診療）は<strong>対面診療</strong>、<strong>オンライン診療、</strong>どちらでも予約を受け付けております。
          </p>
          <p>
            対面診療、オンライン診療のどちらかご都合のよろしい受診方法をお選びいただき、<strong>「肥満・高血圧外来」</strong>をご予約ください。
          </p>
          <p>
            診察料は薬代、送料など合わせまして、一回で<strong>おおよそ3,000〜4,000円</strong>になっています。
          </p>
          <h4>対面診療</h4>
          <p>対面診療は完全予約制になっております。クリニックに出向いていただき、医師が直接診療する形の診療となっております。</p>
          <p>近所の方で医師と直接お話ししたい方、いつも通りの慣れている診療をご希望の方は対面診療をご利用ください。</p>
          <p>
            <a class="big-button" href="/reserve" rel="noopener noreferrer">対面診療の予約について知る</a>
          </p>
          <h4>オンライン診療</h4>
          <p>出雲漢方クリニックのオンライン診療は、完全予約制で待ち時間は最大20分程度、いつものご自宅で受診いただけます。</p>
          <p>
            お近くに肥満外来がない方、通院がわずらわしい方、肥満外来の予約が取れない方は、当院の<strong>オンライン診療</strong>までご相談ください。
          </p>
          <p>
            夜間、土日の相談も受け付けていますので、ご希望の方は<a href="https://lin.ee/aYfwiH0" target="_blank" rel="noopener noreferrer">LINE公式アカウント</a>までご相談ください。
          </p>
          <p>
            <a class="big-button" href="/online" rel="noopener noreferrer">オンライン診療について詳しく知る</a>
          </p>
          <div>
            <h3 id="anchor-5">自由診療のご案内</h3>
            <p>出雲漢方クリニックの肥満外来では、通常の保険診療の他に自由診療も行っております。</p>
            <p>※こちらの診療メニューは自由診療のため、保険証はお使いになれません</p>
            <h4>自由診療のメリット・デメリット</h4>
            <h5>自由診療のメリット</h5>
            <p>自由診療のメリットとしては、</p>
            <ul>
              <li>特に体調面での不調がない方でも受診できる</li>
              <li>比較的予約枠に余裕があるため、いち早く肥満外来を受診できる（いわゆるファストパス）</li>
              <li>保険証を提示したくない方でも受診できる</li>
            </ul>
            <p>の３つが挙げられます。</p>
            <p>肥満外来で相談したいけれど特に思い当たる体調不良がない、すぐにでも肥満外来を受診したい、保険証を提示するのが面倒。</p>
            <p>そんな方は肥満外来の自由診療でご相談ください。</p>
            <h5>自由診療のデメリット</h5>
            <p>自由診療のデメリットは、やはり保険診療に比べると費用が高額なことです。</p>
            <p>以下に診察にかかる費用を記載しましたので、そちらをご参考の上、受診ください。</p>
            <h4>診察費用</h4>
            <h5>初診</h5>
            <p>
              <strong>予約料</strong>：3,000円<br />
              <strong>診察料</strong>：15,000円 + 薬剤費<br />
              <strong>薬剤費</strong>：1週間あたり2,000円程度
            </p>
            <h5>再診</h5>
            <p>
              <strong>予約料</strong>：1,000円<br />
              <strong>診察料</strong>：5,000円 + 薬剤費<br />
              <strong>薬剤費</strong>：1週間あたり2,000円程度
            </p>
            <h4>予約方法</h4>
            <p>以下のボタンを押して、「肥満外来（自費診療）」を選択の上、ご予約ください。</p>
            <p>
              対面診療で自由診療を受けられたい方、自由診療についてご質問がある方は、<a href="https://lin.ee/aYfwiH0" target="_blank" rel="noopener noreferrer">LINE公式アカウント</a>からお気軽にご相談ください。
            </p>
            <p>
              <a class="big-button" href="https://clinics-app.com/clinic/6200901c030daf257f78c01f/reservation?method=online" target="_blank" rel="noopener noreferrer">肥満外来を予約する</a>
            </p>
            <h3 id="anchor-6">よくある質問</h3>
            <p>肥満外来のお問い合わせで、よくある質問をこちらに載せておきます。</p>
            <p>
              これ以外に疑問がある方は、こちらの<a href="/q_and_a">よくある質問ページ</a>をご覧ください。<br />
              そちらでも疑問が解決しない場合は、<a href="https://lin.ee/aYfwiH0" target="_blank" rel="noopener noreferrer">LINE公式アカウント</a>からお問い合わせください。迅速に対応させていただきます。
            </p>
            <h4 id="anchor-6-1">予定が合わず肥満外来の予約がなかなか取れません。どうしたらいいでしょうか？</h4>
            <p>
              肥満外来の予約枠とご都合が合わない場合は、「<strong>漢方外来（オンライン希望の方はオンライン漢方外来）</strong>」でご予約をお取りください。
            </p>
            <p>
              問診票に「<strong>肥満外来で受診希望</strong>」と記載いただくか、受診の際におっしゃっていただければ、肥満外来として対応させていただきます。
            </p>
            <h4 id="anchor-6-2">体重の悩み以外に体調不良もあるのですが、同時に診療可能でしょうか？</h4>
            <p>
              同時に診療可能となっています。「<strong>漢方外来（オンライン希望の方はオンライン漢方外来）</strong>」でご予約いただき、問診票にお困りの体調不良、体重のお悩みをご記載ください。診療させていただきます。
            </p>
            <h4 id="anchor-6-3">肥満外来を子どもが受診することは可能でしょうか？</h4>
            <p>受診可能です。受診時には親御さんが付き添いの上、ご受診ください。</p>
            <p>
              ※子ども医療費助成・ひとり親家庭等医療費助成など助成をお使いになりたい方は<a href="https://izumo-kampo.clinic/about-public-expense" target="_blank" rel="noopener noreferrer">「各種公費について」ページ</a>をご覧ください。
            </p>
            <h4 id="anchor-6-4">肥満外来の対面診療と、オンライン診療では診療内容に違いがあるのでしょうか？</h4>
            <p>
              診療内容は特に変わりがなく、基本的に同じものとなっています。ご自身にとってご都合の良い診療形態をお選びください。オンライン診療について詳しく知りたい方は<a href="/online">こちらをご覧ください</a>。
            </p>
          </div>
        </div>
      </section>
    </article>
    <!-- / #main -->
  </div>
</PageLayout>
