---
import PageLayout from "../layouts/PageLayout.astro";

const title =
  "出雲漢方クリニック｜よくある質問 デザインリニューアル案（共通CSS使用）";
---

<PageLayout
  title={title}
  wrapperClass="page_weverysub parent1691 my1691 cat pcat"
>
  <div id="main">
    <div id="breadcrumbs">
      <a href="/">ホーム</a> &gt; よくある質問
    </div>

    <article>
      <section class="pageSec">
        <h2 class="h2_1581">よくある質問</h2>
        <div class="subpagecontents">
          <h3 id="anchor-reserve">予約・支払いについて</h3>
          <h4>受診の際に必要な費用について教えてください</h4>
          <p>
            費用の目安は、受診料（初診料、再診料ほか）、薬剤費、通信料を含めまして、<strong
              >一回で2,000〜5,000円程度</strong
            >となっています。
          </p>
          <h4>クレジットカードが無くても受診できますか？</h4>
          <p>
            オンライン診療は決裁の都合上、原則としてクレジットカードを登録いただいております。<br
            />
            対面診療では現金支払いも対応しております。クレジットカードをお持ちでない方で、ご予約されたい方は<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/lin.ee/aYfwiH0');"
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウント</a
            >からご相談ください。
          </p>
          <h5>
            ※ <span class="notion-enable-hover" data-token-index="0"
              >melmoに登録するクレジットカードについての注意</span
            >
          </h5>
          <p>
            ◼️ melmo（オンライン診療）で使用できるクレジットカードは、VISA /
            MasterCard / AmericanExpress / JCB / DinersClub /
            Discoverの6種類です。<br />
            ◼️ デビットカードやプリペイドカード等は、カードの種類によってはご利用できない場合がございますので、クレジットカードのご登録をお願いいたします。
          </p>
          <h4>
            子ども医療費助成・ひとり親家庭等医療費助成など、各種医療費助成は使えますか？
          </h4>
          <p>
            お使いいただけます。島根県内の患者さんにつきましては医療証の提出いただければ窓口での負担が軽減されます。<br
            />
            島根県外の患者さんにつきましては、一度３割負担でお支払いいただいたのちにお住まいの自治体に申請していただく必要があります。
          </p>
          <p>
            詳しくは<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/about-public-expense');"
              href="https://izumo-kampo.clinic/about-public-expense"
              >こちらのページ</a
            >をご覧ください。
          </p>
          <h4>診療の領収書が欲しいのですが、どうすればいいでしょうか？</h4>
          <p>
            領収書は院内処方（病院から薬が送られてきてる方）の場合と、調剤薬局で薬の受け取りをされてる患者さんで取得方法が変わってきます。<br
            />
            なお、領収書の再発行は承っておりませんので、大切に保管ください。
          </p>
          <h5>院内処方で、お薬をお受け取りの場合</h5>
          <p>お薬に同梱しております。一度、袋の中をご確認ください。</p>
          <h5>調剤薬局で、お薬をお受け取りの場合</h5>
          <p>
            以下の二つの領収書の入手法があります。発行をご希望の方は、どちらかお選びの上、<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/lin.ee/aYfwiH0');"
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウント</a
            >までご連絡ください。
          </p>
          <h6>① クリニクスへのアップロード：無料</h6>
          <p>
            領収書と診療費明細書をクリニクスにアップロードいたします。印刷などはご自身でお願い致します。費用は無料となっています。
          </p>
          <h6>② 郵送：送料200円</h6>
          <p>
            領収書を郵送でお送りいたします。別途、送料（200円）をいただいております。ご了承ください。
          </p>
          <h4>一度予約した予約を変更できますか？</h4>
          <p>
            melmoで予約した方は、melmoから既存の予約を一度キャンセルしてください。キャンセルをしないと日時や内容を変更できないようになっています。キャンセルをした後に、再度希望の内容、日時で予約をお取り直しいただければと思います。
          </p>
          <p>
            対面診療の方でLINEで予約をお取りいただいた方は、<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/lin.ee/aYfwiH0');"
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウント</a
            >から予約変更のメッセージをお送りください。
          </p>
          <h4>melmoで予約時に入力する再診コードを教えてください</h4>
          <p>
            当院では再診時には再診コードは不要です。入力欄は空のままで、そのままご予約ください。
          </p>
          <h3 id="anchor-medical-treatment">診察について</h3>
          <h4 id="wvh2-2">子どもの診察は可能でしょうか？</h4>
          <p>
            診察可能です。アトピー性皮膚炎や喘息、夜泣きなど様々な症状でお悩みのお子さんが来院されています。
          </p>
          <p>
            なお、お子さんが受診される場合は、親御さんのアカウントに家族アカウントとしてお子さんを追加する必要があります。
          </p>
          <p>
            詳しくは<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/for_children');"
              href="https://izumo-kampo.clinic/for_children"
              target="_blank"
              rel="noopener noreferrer">こちらのページ</a
            >をご覧ください。
          </p>
          <p>
            ※子ども医療費助成・ひとり親家庭等医療費助成など助成をお使いになりたい方は<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/about-public-expense');"
              href="https://izumo-kampo.clinic/about-public-expense"
              >こちらのページ</a
            >をご覧ください。
          </p>
          <h4>妊娠、授乳中ですが、漢方薬の服用は問題ないでしょうか？</h4>
          <p>
            妊娠、授乳中ということをお伝えいただければ、妊娠、授乳中でも服用可能な漢方薬を処方いたします。ご安心ください。
          </p>
          <p>
            なお、妊娠、授乳中の方はそのむねを問診票に記載いただけると大変助かります。
          </p>
          <h4>診断書をいただきたいです</h4>
          <p>
            診察の際に医師までご相談ください。診察結果で判断をして発行させていただきます。費用として、診断書作成料3,300円（税込）と送料をいただいております。ご了承ください。
          </p>
          <h4 id="wvh2-3">診察なしでの漢方薬の処方は可能でしょうか？</h4>
          <p>
            <strong
              >申し訳ありませんが、診察無しでの処方はしておりません。</strong
            >保険診療では「<strong>診察なしでの薬の処方ができない</strong
            >」ルールになっています。そのため、当院では診察なしでの処方を承ることはできません。
          </p>
          <p>
            お急ぎの方は予約メニューの「<strong>迅速漢方外来</strong
            >」でご予約いただくか、再診時に問診票に「短時間での診療希望」と記載していただければ短時間で診察を行います。お願いいたします。
          </p>
          <h4>肥満外来で、肥満以外の他の症状も相談できますか？</h4>
          <p>
            可能です。出雲漢方クリニックの肥満外来は体調不良を治しつつ減量を行う外来となっておりますので、肥満外来で体調不良も一緒にご相談ください。
          </p>
          <h4>英語での診察は可能でしょうか？</h4>
          <p>
            可能になっています。問診票に「英語での診察を希望」という旨をご記載の上、受診ください。
          </p>
          <h4>
            保険証が変わりました（新しい有効期限の保険証が届きました）。更新方法を教えてください。
          </h4>
          <p>
            <a
              onclick="javascript:pageTracker._trackPageview('/outgoing/clinics-support.medley.life/hc/ja/articles/4410379269401-%E4%BF%9D%E9%99%BA%E8%A8%BC%E3%82%92%E7%99%BB%E9%8C%B2-%E6%9B%B4%E6%96%B0%E3%81%99%E3%82%8B');"
              href="https://clinics-support.medley.life/hc/ja/articles/4410379269401-%E4%BF%9D%E9%99%BA%E8%A8%BC%E3%82%92%E7%99%BB%E9%8C%B2-%E6%9B%B4%E6%96%B0%E3%81%99%E3%82%8B"
              target="_blank"
              rel="noopener noreferrer">こちらのmelmoのヘルプページ</a
            >をご参考の上、更新ください。
          </p>
          <h3 id="anchor-online">オンライン診察について</h3>
          <h4>処方せんはどのように発行されますか？</h4>
          <p>
            お好きな調剤薬局で受け取りたい方に関しては、病院から指定いただいた薬局へFAXで処方せんをお送りしています。ご自分で処方せんを薬局に持っていく必要はありません。
          </p>
          <p>
            出雲漢方クリニックから郵送で漢方薬をお受け取りいただく場合<strong
              >（</strong
            >院外処方）は処方せんは必要ありません。
          </p>
          <h3 id="anchor-kampo">漢方薬について</h3>
          <h4>漢方薬はどのくらいで効果が出ますか？</h4>
          <p>急性症状では数日で効果が分かる事もあります。</p>
          <p>
            慢性的な症状の場合でも処方が合っていれば2、3日ほどで効果が現れることもあります。
          </p>
          <p>効果が現れない場合は、医師までご相談ください。</p>
          <h4>漢方薬と他の薬を一緒に飲んでも大丈夫でしょうか？</h4>
          <p>
            西洋薬の場合は、漢方薬は西洋薬の効果を邪魔するものではないので問題ありません。
          </p>
          <p>
            もし、他の漢方薬と一緒に服用されたい方がいらっしゃいましたら、その場合は<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/lin.ee/aYfwiH0');"
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウント</a
            >までご相談ください。<br />
            漢方薬同士の相性を考慮の上、返信させていただきます。
          </p>
          <h4>漢方薬の味が苦手で続けられるかが不安です</h4>
          <p>
            味が良くない漢方薬に関しては錠剤、カプセル剤などを用意してあります。
          </p>
          <p>
            また、漢方薬も処方によっては飲みやすく味のいいものもありますので、味が苦手な方はご相談ください。
          </p>
          <p>可能な範囲内で飲みやすい処方を選んで処方いたします。</p>
          <h4>漢方薬の服用方法を教えてください</h4>
          <p>
            「<a
              onclick="javascript:pageTracker._trackPageview('/outgoing/izumo-kampo.clinic/how_to_take_kampo');"
              href="https://izumo-kampo.clinic/how_to_take_kampo"
              >漢方薬の服用方法について</a
            >」に詳しくまとめてありますので、こちらをご覧ください。
          </p>
          <h4 id="wvh4-5">
            漢方薬の添付文書の説明文に書かれている効能と、自分の症状が当てはまらないのですが？
          </h4>
          <p>
            漢方薬は本来その方の病名や症状に対して処方するのではなく、その人の状態や体質に合わせて処方いたします。
          </p>
          <p>
            漢方的な見方（瘀血、水毒、気虚など）によって処方しますので、書かれている効果・効能と違う場合があります。まずは服用頂いて効果を確かめてみてください。
          </p>
          <p>
            心配な場合は、LINE公式アカウントでお問合せ、または再診時にご相談ください。
          </p>
          <h3>その他の質問について</h3>
          <p>他に疑問がある方は、LINE公式アカウントからご質問ください。</p>
          <p>
            以下のボタンからLINE公式アカウントを友達追加して、メッセージでお問い合わせください。迅速に返信させていただきます。
          </p>
          <p>
            <a
              onclick="javascript:pageTracker._trackPageview('/outgoing/lin.ee/SGqyO4q');"
              class="big-button"
              href="https://lin.ee/SGqyO4q"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウントで問い合わせする</a
            >
          </p>
        </div>
      </section>
    </article>
    <!-- / #main -->
  </div>
</PageLayout>
