---
import PageLayout from "../layouts/PageLayout.astro";

const title =
  "出雲漢方クリニック｜診療予約について デザインリニューアル案（共通CSS使用）";
---

<PageLayout
  title={title}
  wrapperClass="page_weverysub parent1691 my1691 cat pcat"
>
  <div id="main">
    <div id="breadcrumbs">
      <a href="/">ホーム</a> &gt; 診療予約について
    </div>

    <article>
      <section class="pageSec">
        <h2 class="h2_1459">診療予約について</h2>
        <div class="subpagecontents">
          <div class="block-emphasis">
            <p>
              2026/6/1より、ご予約当日の患者様都合によるキャンセルにつきましては、診療枠確保、及び医療資源の適正利用の観点から、キャンセル料をご請求させていただくこととなりました。キャンセル料は以下となっております。
            </p>
            <p>
              初診の方：1,000円（税込）<br />
              再診の方：500円（税込）
            </p>
            <p>
              ※急な体調不良の場合も基本的にオンラインで診察は可能なためキャンセル料の対象となります。ご了承ください。
            </p>
          </div>
          <p>
            当院の予約は「<strong>melmo予約</strong>」と「<strong
              >LINE公式アカウント予約</strong
            >」の二つがあります。
          </p>
          <p>
            オンライン診療ご希望の方や利便性を求める方は「melmo予約」を、対面診療ご希望の方でLINEのメッセージで予約したい方は「LINE公式アカウント予約」をお使いください。
          </p>
          <div class="block_index">
            <strong>目次</strong>
            <ul>
              <li><a href="#anchor-clinics">melmoで予約する</a></li>
              <li>
                <a href="#anchor-line"
                  >LINE公式アカウントで予約する（対面診療の方限定）</a
                >
              </li>
              <li><a href="#anchor-waiting-list">キャンセル待ちについて</a></li>
              <li><a href="#anchor-change">予約を変更する</a></li>
              <li><a href="#anchor-time">予約時間について</a></li>
              <li>
                <a href="#anchor-question"
                  >予約・診療についての質問・問い合わせ</a
                >
              </li>
            </ul>
          </div>
          <h3 id="anchor-clinics">melmoで予約する</h3>
          <p>
            <img
              fetchpriority="high"
              decoding="async"
              class="half-size-image alignnone wp-image-1521 size-full"
              src="/wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2.jpg"
              alt=""
              width="1600"
              height="700"
              srcset="/wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2.jpg 1600w, /wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2-300x131.jpg 300w, /wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2-1024x448.jpg 1024w, /wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2-240x105.jpg 240w, /wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2-768x336.jpg 768w, /wp-content/uploads/2022/09/Yuu171226IMGL0015_TP_V-2-1536x672.jpg 1536w"
              sizes="(max-width: 1600px) 100vw, 1600px"
              data-eio="j"
            />
          </p>
          <p>
            <strong>melmo予約</strong
            >は、melmoという予約サービスを通じて予約していただく方法になっています<strong
              >（利用料は無料となっております）</strong
            >。<br />
            オンライン診療、対面診療のどちらでもお使いいただけます。オンライン診療ご希望の方はお支払いの都合上、melmo予約のみの対応となっていますので、ご了承ください。
          </p>
          <h4>melmo予約の特徴</h4>
          <p>
            <img
              decoding="async"
              src="https://clinics-cloud.com/img/media-kit/clinics-merit04.png"
              alt="オンライン診療「クリニクス」24時間予約が可能"
              width="245"
            />
            <img
              decoding="async"
              src="https://clinics-cloud.com/img/media-kit/img-guide-accounting.png"
              alt="オンライン診療「クリニクス」 アプリでお会計"
              width="200"
            />
          </p>
          <p>
            以下のように患者さまにとって便利なため、オススメさせていただいています。
          </p>
          <ul>
            <li>
              メッセージでやりとりしなくても、すぐに予約できる（24時間予約可能）
            </li>
            <li>診療終了後にお会計の時間がいらない（カード自動決済）</li>
            <li>
              アプリが診療日前日に「診療のお知らせ」をしてくれるので診療を忘れにくい
            </li>
          </ul>
          <p>
            初回登録のお時間は掛かりますが、一度登録してしまえば大変便利になっています。ぜひ一度こちらでご予約ください。
          </p>
          <p>
            ※
            melmo予約にはクレジットカードが必須となっております。対面診療ご希望の方でクレジットカードをお持ちでない方は、<a
              href="#anchor-line">LINE公式アカウント予約</a
            >でご予約ください。
          </p>
          <h4>予約の流れ</h4>
          <h5>1.予約日時を選択する</h5>
          <p>
            <img
              decoding="async"
              src="https://clinics-cloud.com/img/media-kit/img-guide-reservation.png"
              alt="オンライン診療「クリニクス」 オンライン診療の予約"
              width="220"
            />
          </p>
          <p>
            <a
              href="https://clinics-app.com/clinic/6200901c030daf257f78c01f/exclusive_reservation?method=online"
              target="_blank"
              rel="nofollow noopener noreferrer">melmoの予約ページ</a
            >から診療メニューを選択し、空いてる予約枠の中から<strong
              >予約日時を選択</strong
            >します。<br />
            診療メニューが分からない場合は、オンライン診療ご希望であれば「<strong
              >オンライン漢方外来</strong
            >」を、対面診療ご希望であれば「<strong>漢方内科外来</strong
            >」をお選びください。
          </p>
          <div class="block-emphasis">
            <p>
              ※当日予約の初診枠がすべて埋まってしまう日が増えてきております。もし、ご都合の良い時間帯の予約が取れない場合は、「予約時間の相談をしたい」と<a
                href="https://lin.ee/SGqyO4q"
                target="_blank"
                rel="noopener noreferrer">LINE公式アカウント</a
              >へご連絡ください。可能な限り、時間を調整させていただきます。
            </p>
          </div>
          <h5>2.アカウント登録</h5>
          <p>
            次にアカウント登録画面になるので、名前や住所などの情報、クレジットカード情報、保険証情報を入力し、アカウントを登録します。
          </p>
          <h5>3.melmoアプリのインストール（オンライン診療の場合のみ）</h5>
          <p>
            オンライン診療には<strong>melmoのアプリ</strong
            >が必要になっていますので、melmoを以下のバナーからスマホにダウンロードし、予約したアカウントでログインしてください。
          </p>
          <p>
            <a
              style="display: inline-block; overflow: hidden; border-radius: 13px; width: 125px; height: 50px; vertical-align: top;"
              href="https://apps.apple.com/us/app/clinics-%E3%82%AF%E3%83%AA%E3%83%8B%E3%82%AF%E3%82%B9-%E3%82%AA%E3%83%B3%E3%83%A9%E3%82%A4%E3%83%B3%E8%A8%BA%E7%99%82-%E6%9C%8D%E8%96%AC%E6%8C%87%E5%B0%8E%E3%82%A2%E3%83%97%E3%83%AA/id1106261604?itsct=apps_box_badge&itscg=30200"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                class="alignnone"
                style="border-radius: 13px; width: 125px; height: 50px;"
                src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/ja-jp?size=250x83&releaseDate=1464220800?h=cfbd1c54bf48f417a4aad808c338ffe6"
                alt="Download on the App Store"
                width="109"
                height="40"
              /></a
            >
            <a
              style="vertical-align: top;"
              href="https://play.google.com/store/apps/details?id=life.medley.clinics&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                decoding="async"
                class="alignnone"
                style="margin-top: -3px;"
                src="https://play.google.com/intl/ja/badges/static/images/badges/ja_badge_web_generic.png"
                alt="Google Play で手に入れよう"
                width="150"
                height="250"
              /></a
            >
          </p>
          <h5>4.LINE公式アカウントを登録する</h5>
          <p>
            オンライン診療が繋がらない場合にLINE公式アカウントを通じて連絡いたします。そのため、以下のボタンからLINE公式アカウントをご登録ください。<br
            />
            登録が完了しましたら「お名前（フルネーム）」をメッセージでお送りください（カルテとLINE公式アカウントの統合のために必要となります）。
          </p>
          <p>
            <a
              class="big-button"
              href="https://lin.ee/SGqyO4q"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウントを友達追加する</a
            >
          </p>
          <h4>melmoでの予約方法、アプリの使い方で不明点がある方へ</h4>
          <p>
            melmoの使い方がわからない方用に、melmo患者相談窓口が用意されております。予約や操作方法について不明点、ご相談がある方は以下の連絡先までご連絡ください。
          </p>
          <p class="wysiwyg-text-align-center">
            <strong>【melmo患者相談窓口】<br /> </strong>電話：0120-13-1540
            （平日9～18時）
          </p>
          <h3 id="anchor-line">
            LINE公式アカウントで予約する（対面診療の方限定）
          </h3>
          <p>
            <img
              loading="lazy"
              decoding="async"
              class="half-size-image alignnone wp-image-1520 size-full"
              src="/wp-content/uploads/2022/09/miuFTHG3102_TP_V-2.jpg"
              alt=""
              width="1600"
              height="700"
              srcset="/wp-content/uploads/2022/09/miuFTHG3102_TP_V-2.jpg 1600w, /wp-content/uploads/2022/09/miuFTHG3102_TP_V-2-300x131.jpg 300w, /wp-content/uploads/2022/09/miuFTHG3102_TP_V-2-1024x448.jpg 1024w, /wp-content/uploads/2022/09/miuFTHG3102_TP_V-2-240x105.jpg 240w, /wp-content/uploads/2022/09/miuFTHG3102_TP_V-2-768x336.jpg 768w, /wp-content/uploads/2022/09/miuFTHG3102_TP_V-2-1536x672.jpg 1536w"
              sizes="auto, (max-width: 1600px) 100vw, 1600px"
              data-eio="j"
            />
          </p>
          <p>
            <strong>LINE公式アカウント予約</strong>は、<strong
              >対面診療（クリニックに直接訪れての診療）</strong
            >をご希望の方向けの予約方法になっています。LINEのメッセージで、簡単にご予約可能となっています。
          </p>
          <p>
            なおオンライン診療ご希望の方は、<a href="#anchor-clinics"
              >melmo予約</a
            >をご利用ください。
          </p>
          <h4>予約方法</h4>
          <p>
            以下の順番で操作いただけると、スムーズに予約いただけますのでご参考にください。
          </p>
          <ol>
            <li>
              最初に、<a
                href="https://lin.ee/SGqyO4q"
                target="_blank"
                rel="noopener noreferrer"
                >出雲漢方クリニックのLINE公式アカウント</a
              >を友達追加してください
            </li>
            <li>
              次に、LINE公式アカウントへ、「<strong
                >対面診療をLINE予約希望です</strong
              >」というメッセージと、<a
                href="/time"
                target="_blank"
                rel="noopener noreferrer">診療時間のページ</a
              >をご参考に「<strong>診察を受けられたい日時</strong
              >」をいくつかお送りください
            </li>
          </ol>
          <p>
            予約のメッセージを確認したのちに、迅速に返信させていただきます。少々お待ちください。
          </p>
          <h3 id="anchor-waiting-list">キャンセル待ちについて</h3>
          <p>
            出雲漢方クリニックでは、なるべく早めに受診されたい患者さんからキャンセル待ちを受け付けております。
          </p>
          <p>
            キャンセル待ちをされたい方がいらっしゃいましたら、以下の手順でキャンセル待ちをお申し込みください。
          </p>
          <h4>1. melmoで予約（初診の方のみ必要）</h4>
          <p>まずmelmoで、予約枠が空いている日に予約を入れてください。</p>
          <div class="block-emphasis">
            <p>
              ※初診の方は予約をしていただけないとシステムの都合上、キャンセル待ちに対応できません。お手間になりますがよろしくお願いします。
            </p>
          </div>
          <h4>2. LINE公式アカウントにキャンセル待ちの申し込みをする</h4>
          <p>
            次に出雲漢方クリニックの<a
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="nofollow noopener noreferrer">LINE公式アカウント</a
            >を友達追加して、キャンセル待ちのメッセージを送信してください。
          </p>
          <p>
            メッセージでは「キャンセル待ちを申込みしたい旨、受診されたい方のお名前（フルネーム）、キャンセル待ちの申し込みをしたい日時（複数日でも可）」をお送りください。
          </p>
          <h4>3. キャンセルの連絡があるまで待機</h4>
          <p>
            お申し込みされた日にキャンセルがあった場合、診療可能な時間を連絡いたします。なお、予約待ちの方が複数いらっしゃった場合、メッセージが早く返ってきた方からご案内させていただきます。ご了承ください。
          </p>
          <p>
            また、キャンセルがなかった場合には連絡いたしませんので、１で予約いただいた日に受診いただけると幸いです。
          </p>
          <h3 id="anchor-change">予約を変更する</h3>
          <p>
            melmoで予約した方は、一度予約をキャンセルをしないと次の予約が取れないようになっています。<br
            />
            なので、melmoから既存の予約を一度キャンセルしてから、再度希望の日時で予約をお取り直しください。
          </p>
          <p>
            対面診療の方でLINE予約をした方の場合は、<a
              href="https://lin.ee/aYfwiH0"
              target="_blank"
              rel="nofollow noopener noreferrer">LINE公式アカウント</a
            >から予約変更のメッセージをお送りください。
          </p>
          <h3 id="anchor-time">予約時間について</h3>
          <p>
            予約は<strong>9:00-17:00（オンライン診療は8:00-20:00）</strong
            >の間で、30分刻みでお取りできます。
          </p>
          <p>
            予約時間は「<strong>その時間ちょうどになったら呼び出される</strong
            >」というものではなく、「<strong>診察時間内に呼び出される</strong
            >」というものになっています。
          </p>
          <p>
            9:00に予約された場合、初診（診療時間：20分前後）であれば、おおよそ9:00-9:10の間に、再診（診療時間：10分前後）であれば、9:00-9:20の間に呼び出されます。ご了承ください。
          </p>
          <h3 id="anchor-question">予約・診療についての質問・問い合わせ</h3>
          <p>
            予約や診療についてご不明点がある方、ご相談がある方はLINE公式アカウントからお問い合わせください。
          </p>
          <p>
            以下のボタンからLINE公式アカウントを友達追加し、メッセージで疑問点をお問合せください。迅速に返信させていただきます。
          </p>
          <p>
            <a
              class="big-button"
              href="https://lin.ee/SGqyO4q"
              target="_blank"
              rel="noopener noreferrer">LINE公式アカウントで問い合わせする</a
            >
          </p>
        </div>
      </section>
    </article>
    <!-- / #main -->
  </div>
</PageLayout>
