---
/* モバイル用ハンバーガーボタン #mobile。 本番テーマ由来の共通チャンク（編集すると全ページに反映）。 */
---

<div id="mobile">
  <a href="javascript:void(0)" class="mobile_menu">
    <img src="/wp-content/themes/theme/img/menu_bt.png" alt="メニュー" class="top_menu" width="100%" height="auto" />
  </a>
</div>
