---
/* スマホ固定フッター #sp_footer。 本番テーマ由来の共通チャンク（編集すると全ページに反映）。 */
---

<section id="sp_footer">
  <ul>
    <li>
      <a href="https://lin.ee/aYfwiH0" target="_blank" rel="nofollow"
        ><i class="material-icons">contact_support</i><span class="spf_word"
          >問い合わせ（LINE）</span
        ></a
      >
    </li>
    <li>
      <a
        href="https://clinics-app.com/clinic/6200901c030daf257f78c01f/exclusive_reservation?method=online"
        target="_blank"
        rel="nofollow"
        ><i class="material-icons">contact_page</i><span class="spf_word"
          >診療予約</span
        ></a
      >
    </li>
  </ul>
</section>
