---
/* サイドメニュー #sideMenu。 本番テーマ由来の共通チャンク（編集すると全ページに反映）。 */
---

<div id="sideMenu">
  <p class="backhome"><a href="/">HOME</a></p>

  <div class="banner bn_top spnone">
    <!-- 2011.11.13変更 -->
    <ul>
      <li>
        <a href="https://lin.ee/J5alWzJ" target="_blank" rel="nofollow">
          <img src="/wp-content/uploads/2022/09/banner_line.png" alt="LINE公式アカウント問い合わせ" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="/reserve">
          <img src="/wp-content/uploads/2022/09/banner_reserve.png" alt="診療予約について" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="/q_and_a">
          <img src="/wp-content/uploads/2022/10/4d767dee6af9188b3d6c0424c1a66b01.png" alt="よくある質問" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="/partnership-shinkyu">
          <img src="/wp-content/uploads/2023/05/Twitter.png" alt="提携鍼灸院について" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="/blog">
          <img src="/wp-content/uploads/2023/03/53dca034c608bbba0219914e69b10442-1.png" alt="院長ブログ" data-eio="j" />
        </a>
      </li>
    </ul>
  </div>

  <div class="banner bn_top spnone sidemenu_bottom">
    <!-- 2011.11.13変更 -->
    <ul>
      <li>
        <p><strong>公式SNS</strong></p>
      </li>

      <li>
        <a href="https://izumo-kampo.clinic/izumo_kampo_youtube/">
          <img src="/wp-content/uploads/2023/02/Twitter-2.png" alt="Youtube" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="https://twitter.com/wjHhI0T0zPl0TnO" target="_blank" rel="nofollow">
          <img src="/wp-content/uploads/2023/09/Twitter.png" alt="院長Twitter" data-eio="j" />
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/izumoanz/" target="_blank" rel="nofollow">
          <img src="/wp-content/uploads/2026/03/Twitter.png" alt="あんず鍼灸院Instagram" data-eio="j" />
        </a>
      </li>
    </ul>
  </div>

  <!--<div class="qr">

<img src="https://chart.googleapis.com/chart?chs=100x100&cht=qr&chl=https://izumo-kampo.clinic" />
<p>スマートフォンに対応しています。</p>
</div>-->

  <div id="side_add">
    <!-- サイドメニュー下部に記載する内容（#side_add） -->
  </div>

  <!-- / #sideMenu -->
</div>
