---
/* ヘッダー #header（ロゴ・住所・サイト内検索）。 本番テーマ由来の共通チャンク（編集すると全ページに反映）。 */
---

<header id="header">
  <h1>
    <a href="/">
      <span class="cliniclogo">
        <img src="/wp-content/uploads/2022/04/S__63782986.png" alt="出雲漢方クリニック" class="cliniclogo_img" data-eio="j" />
      </span><span class="h1_text">出雲漢方クリニック</span>
    </a>
  </h1>

  <div class="header_text">
    <p>【保険診療】 漢方内科 呼吸器内科・外科 アレルギー科</p>
  </div>

  <div class="header_address">
    <p>
      島根県出雲市今市町736-11 出雲市駅から徒歩5分、全国オンライン診療受付中&nbsp;[<a href="https://izumo-kampo.clinic?p=23">地図へ</a>]
    </p>
  </div>

  <div class="header_tel">
    <p class="tel"><i class="material-icons">local_phone</i></p>
  </div>

  <div class="header_week">
    <!-- <p>休診日　<br /><a href="?p=22">診療時間はこちら</a></p> -->
    <p>
      休診日：　土・日<br /><a href="https://izumo-kampo.clinic?p=22">診療時間はこちら</a>
    </p>
  </div>
  <div style="clear: both"></div>
  <form role="search" method="get" id="searchform" action="/">
    <div id="page_search">
      <label class="screen-reader-text" for="s"></label>

      <input type="text" value="" name="s" id="s" placeholder="サイト内検索" />

      <input type="image" src="/wp-content/themes/theme/img/toolbar_find.png" id="searchsubmit" value="検索" />
    </div>
  </form>

  <div id="header_add">
    <!-- ヘッダーに記載する内容（#header_add） -->
  </div>

  <!-- / #header -->
</header>
