---
/* ページトップ .pagetop ＋ フッター #footer。 本番テーマ由来の共通チャンク（編集すると全ページに反映）。 */
---

<div class="pagetop"><a href="#header">▲ ページのトップに戻る</a></div>
<footer id="footer">
  <div id="footer_area">
    <h2 class="footer_sitename">
      <a href="/">出雲漢方クリニック</a>
    </h2>
    <p class="footer_youso">
      <span class="footer_clinickamoku">
        【保険診療】 漢方内科 呼吸器内科・外科 アレルギー科 <br /></span
      >
      <span class="footer_clinicaddress">島根県出雲市今市町736-11</span><span
        class="footer_clinicbuilding"></span><span class="footer_clinictraffic">
        出雲市駅から徒歩5分、全国オンライン診療受付中　[<a
          href="https://izumo-kampo.clinic?p=23">地図へ</a
        >]<br /></span
      >
      <span class="footer_clinicholiday">休診日：　土・日</span>
    </p>
    <div id="footer_add">
      <!-- フッターに記載する内容（#bottom_contents） -->
    </div>
    <div id="add_footer_data"></div>
    <address class="address">
      Copyright &copy; 出雲漢方クリニック All Rights Reserved.
    </address>
  </div>
</footer>
